/***** main *****/
body{
	width: 100%;
	height: 100%;
}
h1{
	margin: 0px;
}
a{
	color: rgb(43,173,222);
	text-decoration: none;
}
a:hover{
	color: rgb(53,183,232);
}
input{
	border-radius: 2px;
	border: solid 1px #ccc;
}
input:focus{
	outline: none;
	border: solid 1px #999;
}
.page_header{
	margin: 50px 0px 40px;
}
/***** margin *****/
.margin_top_70{
	margin-top: 60px;
}
.margin_top_100{
	margin-top: 100px;
}
/***** padding *****/
.padding_top_50{
	padding-top: 50px;
}
.padding_top_70{
	padding-top: 70px;
}
/***** header *****/
header{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: #fff;
	border-bottom: solid 1px rgb(230,230,230);
}
header ul{
	padding: 0px;
	list-style: none;
	display: table;
}
header li{
	display: table-cell;
}
.header_custom_container{
	display: table;
	width: 100%;
}
.header_custom_container .header_cell{
	display: table-cell;
}
.header_custom_container .site_name{
	width: 225px;
	padding: 5px 0px 15px 25px;
}
#site_name{
}
#site_name a{
	color: #555;
	text-decoration: none;
	font-size: 28px;
}
.header_custom_container .custom_navigator{
	text-align: right;
}
.header_custom_container .custom_navigator ul{
	padding-right: 25px;
	color: #555;
}
.header_custom_container .custom_navigator a{
	color: #555;
}
.header_custom_container ul{
	width: 100%;
}
/***** notice *****/
.notice{
	display: none;
}
/***** top image *****/
.top_image{
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
	z-index: -1;
}
.top_image video{
	width: 100%;
	margin-top: -100px
}
/***** find 3d printer *****/
.find_3d_printer{
	width: 100%;
	background-color: rgba(80,80,80,0.5);
	text-align: center;
	padding: 15px 0px 15px;
	margin: -71px 0px 30px;
}
.find_3d_printer a{
	color: #fff;
}
/***** custom container *****/
.custom_container{
	padding: 0px 5% 60px;
}
/***** about *****/
.about{
	padding: 20px 0px 20px;
}
/***** how to use *****/
.how_to_use .title{
	text-align: center;
	padding-bottom: 20px;
}
.how_to_use .content ul{
	list-style: none;
	padding: 0px 0px 0px 0px;
	display: table;
}
.how_to_use .content li{
	width: 33.3333%;
	display: table-cell;
}
.how_to_use .content li .li_inside{
	margin: 15px;
}
.how_to_use .content li .li_inside .how_to_use_img{
	width: 70%;
	margin: 20px auto;
	border-radius: 250px;
	overflow: hidden;
}
.how_to_use .content li .li_inside img{
	width: 100%;
}
/***** printer list *****/
.printer_list_wrapper{
	width: 100%;
}
.printer_list_left{
	width: 40%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background-color: #ddd;
	padding: 0px;
}
.printer_list_right{
	width: 60%;
	position: absolute;
	padding-bottom: 20px;
	right: 0;
	z-index: 1;
	box-shadow: -1px 0px 1px 0px rgba(15,15,15,0.2);
	background-color: #f8f8f8;
}
.printer_list_container{
	width: 100%;
}
.printer_list_container table{
	width: 100%;
}
.printer_list_container table img{
	width: 100%;
}
.printers .printers_table_column{
	width: 50%;
	float: left;
}
.printers .printers_table_column a{
	text-decoration: none;
}
.printers .printers_table_column a:hover{
	text-decoration: underline;
}
.printers .printers_table_column_2{
	padding: 10px;
}
.printers .printers_table_column h4{
	margin-bottom: 0px;
}
.printers .printers_table_column h4 a{
	color: rgb(80,80,80);
	text-decoration: none;
	font-weight: 400;
}
.printers .printers_table_column h4 a:hover{
	text-decoration: underline;
}
.printers{
	padding: 20px 10px 20px;
}
.printers .printer_img{
	width: 100%;
	height: 200px;
	overflow: hidden;
	border-radius: 2px;
}
.printers .printer_info{
	padding: 8px 15px 10px;
	background-color: #fff;
	position: relative;
	z-index: 2;
}
.printer_info h4{
	margin-top: 0px;
	padding-top: 5px;
}
/***** search printer *****/
.filter_wrapper{
	width: 100%;
	background-color: #fff;
	border-bottom: solid 1px #efefef;
}
.filter_column{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.filter_column h3{
	padding: 20px 0px 20px;
	margin: 0px 20px 0px;
	border-bottom: solid 1px #efefef;
}
.search_by_keyword{
	padding: 20px 0px 20px;
	margin: 0px 20px 0px;
	border-bottom: solid 1px #efefef;
}
.search_by_keyword .input_text{
	border-radius: 2px;
	border: 1px solid #cfcfcf;
}
.search_by_keyword .search_btn{
	color: #fff;
	border:none;
	border-radius: 2px;
	background-color: rgb(43,173,222);
	-moz-transition-property: background-color;
	-webkit-transition-property: background-color;
	-o-transition-property: background-color;
	-ms-transition-property: background-color;
	-moz-transition-duration:0.3s;
	-webkit-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	-ms-transition-duration:0.3s;
}
.search_by_keyword .search_btn:hover{
	background-color: rgb(53,183,232);
}
.search_printer_checkbox_wrapper{
	padding: 20px 0px 20px;
	margin: 0px 20px 0px;
}
.search_printer_checkbox_wrapper .checkbox_container{
	display: table;
	width: 100%;
}
.search_printer_checkbox_wrapper .checkbox{
	display: table-cell;
}
/***** new printer *****/
.new_printer_title{
	padding: 0px 5% 0px;
	text-align: center;
}
.new_printer_content{
	padding-top: 60px;
	background-color: #f8f8f8;
}
/***** new printer content *****/
.new_printer_content .control-label{
	display: table-cell;
	width: 150px;
}
.new_printer_content .form-control{
	display: table-cell;
	width: 100%;
}
.filter_column .new_printer{
	padding: 20px 0px 20px;
	margin: 0px 20px 0px;
	border-bottom: solid 1px #efefef;
}
.new_printer_btn{
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	background-color: rgb(43,173,222);
	-moz-transition-property: background-color;
	-webkit-transition-property: background-color;
	-o-transition-property: background-color;
	-ms-transition-property: background-color;
	-moz-transition-duration:0.3s;
	-webkit-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	-ms-transition-duration:0.3s;
}
.new_printer_btn:hover{
	color: #fff;
	text-decoration: none;
	background-color: rgb(53,183,232);
}
/***** printer details *****/
.printer_info_title h1{
	padding: 0px 9% 20px;
}
.printer_info_content{
	background-color: #f8f8f8
}
.printer_info .printer_img{
	width: 100%;
}
.printer_info .printer_img img{
	width: 100%;
}
.printer_info{
	width: 100%;
	float: left;
}
.printer_info_wrapper{
	width: 100%;
	padding: 50px 0px 30px;
	color: rgb(82,87,89);
}
.printer_info_column{
	display: table;
	width: 100%;
	padding: 20px 0px 20px;
	border-top: solid 1px #ddd;
}
.printer_info_column label{
	display: table-cell;
	width: 180px;
}
.printer_info_column .content{
	width: 100%;
}
.printer_info_sidebar{
	width: 40%;
	float: right;
	position: relative;
	right: 0;
}
.printer_info_sidebar .use_this_printer{
	text-align: center;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 2px;
	background-color: rgb(43,173,222);
	-moz-transition-property: background-color;
	-webkit-transition-property: background-color;
	-o-transition-property: background-color;
	-ms-transition-property: background-color;
	-moz-transition-duration:0.3s;
	-webkit-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	-ms-transition-duration:0.3s;
}
.printer_info_sidebar .use_this_printer:hover{
	background-color: rgb(53,183,232);
}
.use_this_printer h4{
	
}
.use_this_printer a{
	color: #fff;
	text-decoration: none;
}
.printer_info_sidebar .sidebar_container{
	background-color: #fff;
	border: solid 1px #dfdfdf;
}
.printer_info_sidebar .sidebar_container{
	margin: 0px 40px 0px;
	padding: 20px 20px;
}
.printer_info_main_content{
	width: 55%;
	margin-left: 5%;
	float: left;
}
/***** edit form *****/
.edit_form_wrapper{
	width: 100%;
}
.edit_form_container{
	width: 350px;
	margin: auto;
}
.edit_form_container input{
	width: 100%;
}
.edit_form_container .input_text{
	padding: 6px 10px;
}
/***** signup form *****/
.signup_form_wrapper{
	width: 100%;
}
.signup_form_container{
	width: 350px;
	margin: auto;
}
.signup_form_container .input_text{
	padding: 6px 10px;
}
.signup_form_container input{
	width: 100%;
}
.signup_btn{
	color: rgb(255,255,255);
	margin-top: 20px;
	padding: 10px;
	border-radius: 2px;
	background-color: rgb(43,173,222);
	border: none;
}
/***** login form *****/
.login_btn{
	color: rgb(255,255,255);
	margin-top: 20px;
	padding: 10px;
	border-radius: 2px;
	background-color: rgb(43,173,222);
	border: none;
}
/***** update form *****/
.update_btn{
	color: rgb(255,255,255);
	margin-top: 20px;
	padding: 10px;
	border-radius: 2px;
	background-color: rgb(43,173,222);
	border: none;
}
/***** cancel *****/
.cancel_my_account{
	margin-top: 40px;
}
.cancel_btn{
	color: rgb(255,255,255);
	margin-top: 5px;
	padding: 10px;
	border-radius: 2px;
	background-color: rgb(148,150,152);
	border: none;
}
.cancel_create_printer{
	margin: 0px 20px;
	padding: 10px;
	background-color: rgb(148,150,152);
	border-radius: 2px;
	-moz-transition-property: background-color;
	-webkit-transition-property: background-color;
	-o-transition-property: background-color;
	-ms-transition-property: background-color;
	-moz-transition-duration:0.3s;
	-webkit-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	-ms-transition-duration:0.3s;
}
.cancel_create_printer:hover{
	background-color: rgb(158,160,162);
}
.cancel_create_printer a{
	color: #fff;
}
/***** create printer *****/
.create_printer_btn{
	color: rgb(255,255,255);
	margin-top: 20px;
	padding: 10px;
	border-radius: 2px;
	background-color: rgb(43,173,222);
	border: none;
	-moz-transition-property: background-color;
	-webkit-transition-property: background-color;
	-o-transition-property: background-color;
	-ms-transition-property: background-color;
	-moz-transition-duration:0.3s;
	-webkit-transition-duration:0.3s;
	-o-transition-duration:0.3s;
	-ms-transition-duration:0.3s;
}
.create_printer_btn:hover{
	background-color: rgb(53,183,232);
	border: none;
}
/***** back btn *****/
.printer_info_back_btn{
	padding: 0px 5% 0px;
}
.printer_info_back_btn a{
	padding: 5px 15px;
	background-color: #fff;
	border: solid 1px #dfdfdf;
}
/***** decorate image upload button *****/
#decorate_btn{
	background-color: rgb(212,217,219);
}
#decorate_btn input{
	opacity: 0;
}
.decorate_label{
	padding-top: 10px;
	padding-left: 30px;
	margin-bottom: -30px;
	color: rgb(72,77,79);
}
/*----------------------------------------------------------------------*/
.form-group{
	display: table;
	width: 100%;
}
.form-group a{
	color: #fff;
	text-decoration: none;
}
.form-actions{
	display: table;
	width: 100%;
}
.form-actions a{
	width: 100%;
}
.form_actions_column{
	width: 50%;
	display: table-cell;
	text-align: center;
	padding: 5px;
	margin: 5px 0px;
}
/***** footer *****/
.footer{
	color: #aab7bc;
	background-color: rgb(72,77,79);
	padding: 20px 0px 30px;
}
.footer ul{
	margin: 0px;
}
.footer .footer_links{
	display: table;
	padding: 0px 25px;
	width: 100%;
}
.footer .footer_links li{
	display: table-cell;
}
.footer .social_link{
	border-top: solid 1px rgb(112,116,120);
	margin: 30px 25px 0px;
	padding: 35px 0px 0px;
}
.footer .social_link ul{
	display: table;
	padding: 0px;
	margin: 0px auto;
}
.footer .social_link li{
	display: table-cell;
}
.footer .copyright{
	width: 100%;
	text-align: center;
	padding: 30px 0px 0px;
}