/***** main *****/
body{
	width: 100%;
	height: 100%;
}
h1{
	margin: 0px;
}
a{
	color: rgb(10,120,250);
	text-decoration: none;
}
/***** margin *****/
.margin_top_70{
	margin-top: 60px;
}
/***** header *****/
header{
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: #fff;
	border-bottom: solid 1px rgb(230,230,230);
}
header ul{
	padding: 0px;
	list-style: none;
	display: table;
}
header li{
	display: table-cell;
}
.header_custom_container{
	display: table;
	width: 100%;
}
.header_custom_container .header_cell{
	display: table-cell;
}
.header_custom_container .site_name{
	width: 225px;
	padding: 10px 0px 0px 25px;
}
#site_name{
}
#site_name a{
	color: #555;
	text-decoration: none;
}
.header_custom_container .custom_navigator{
	text-align: right;
}
.header_custom_container .custom_navigator ul{
	padding-right: 25px;
	color: #555;
}
.header_custom_container .custom_navigator a{
	color: #555;
}
.header_custom_container ul{
	width: 100%;
}
/***** notice *****/
.notice{
	display: none;
}
/***** top image *****/
.top_image{
	width: 100%;
	height: 400px;
	overflow: hidden;
	position: relative;
	z-index: -1;
}
.top_image video{
	width: 100%;
	margin-top: -100px
}
/***** find 3d printer *****/
.find_3d_printer{
	width: 100%;
	background-color: rgba(80,80,80,0.5);
	text-align: center;
	padding: 15px 0px 15px;
	margin: -71px 0px 30px;
}
.find_3d_printer a{
	color: #fff;
}
/***** custom container *****/
.custom_container{
	padding: 0px 5% 60px;
}
/***** about *****/
.about{
	padding: 20px 0px 20px;
}
/***** how to use *****/
.how_to_use .title{
	text-align: center;
	padding-bottom: 20px;
}
.how_to_use .content ul{
	list-style: none;
	padding: 0px 0px 0px 0px;
	display: table;
}
.how_to_use .content li{
	width: 33.3333%;
	display: table-cell;
}
.how_to_use .content li .li_inside{
	margin: 15px;
}
.how_to_use .content li .li_inside .how_to_use_img{
	width: 70%;
	margin: 20px auto;
	border-radius: 250px;
	overflow: hidden;
}
.how_to_use .content li .li_inside img{
	width: 100%;
}
/***** printer list *****/
.printer_list_wrapper{
	width: 100%;
}
.printer_list_left{
	width: 40%;
	height: 100%;
	position: fixed;
	z-index: 1;
	background-color: #ddd;
	padding: 0px;
}
.printer_list_right{
	width: 60%;
	position: absolute;
	right: 0;
	z-index: 1;
	box-shadow: -2px 0px 4px 0px rgba(90,90,90,0.1);
}
.printer_list_container{
	width: 100%;
}
.printer_list_container table{
	width: 100%;
}
.printer_list_container table img{
	width: 100%;
}
.printers .printers_table_column{
	width: 50%;
	float: left;
}
.printers .printers_table_column_2{
	padding: 10px;
}
.printers .printers_table_column h4{
	margin-bottom: 0px;
}
.printers{
	padding: 20px 10px 20px;
}
.printers .printer_img{
	width: 100%;
	height: 200px;
	overflow: hidden;
}
/***** search printer *****/
.filter_wrapper{
	width: 100%;
}
.filter_column{
	width: 100%;
	padding: 0px;
	margin: 0px;
}
.filter_column h3{
	padding: 20px 0px 20px;
	margin: 0px 20px 0px;
	border-bottom: solid 1px #efefef;
}
.search_by_keyword{
	padding: 20px 0px 20px;
	margin: 0px 20px 0px;
	border-bottom: solid 1px #efefef;
}
.search_by_keyword .input_text{
	border-radius: 2px;
	border: 1px solid #cfcfcf;
}
.search_by_keyword .search_btn{
	color: #fff;
	border:none;
	border-radius: 2px;
	background-color: rgb(10,120,250);
}
.search_printer_checkbox_wrapper{
	padding: 20px 0px 20px;
	margin: 0px 20px 0px;
	border-bottom: solid 1px #efefef;
}
.search_printer_checkbox_wrapper .checkbox_container{
	display: table;
	width: 100%;
}
.search_printer_checkbox_wrapper .checkbox{
	display: table-cell;
}
/***** printer details *****/
.printer_info .printer_img{
	width: 50%;
}
.printer_info .printer_img img{
	width: 100%;
}
/***** footer *****/
.footer{
	color: #aab7bc;
	background-color: rgb(72,77,79);
	padding: 20px 0px 50px;
}
.footer ul{
	margin: 0px;
}
.footer .footer_links{
	display: table;
	padding: 0px 25px;
	width: 100%;
}
.footer .footer_links li{
	display: table-cell;
}