<script type="text/javascript">
    $(document).ready(function() {
        var dispatcher = new WebSocketRails('localhost:4000/websocket');
        var channel = dispatcher.subscribe('printer_status');

        // => status_update
        channel.bind('update', function(msg) {
            console.log('channel event received: ' + msg);
            if (msg instanceof Array) {
                if (msg.length > 0) {
                    msg.forEach( function(m) {
                        $('#messages').append($('<li>').text(m));
                    });
                }
            } else {
                $('#messages').append($('<li>').text(msg));
            }
        });
        // channel.unbind('update');

        dispatcher.bind('printer_to_user.status_update', function(msg) {
            alert(msg);
            });

        $('form').submit(function() {
            dispatcher.trigger('user_to_printer.user_command', $('#m').val());
            $('#m').val('');
            return false;
        });
    });
</script>
<ul id="messages" style="margin-top: 100px;">
</ul>
<form action="">
    <input id="m"><input type="submit" value="SEND">
</form>