<script type="text/javascript">
    $(document).ready(function() {
        var socket_port = "4000",
            socket_host = "localhost",
            socket_req = socket_host + ":" + socket_port + "/websocket"

        var dispatcher = new WebSocketRails(socket_req);

        // channel for watching printer_status 
        var channel = dispatcher.subscribe('printer_status');
        channel.bind('status_update', function(msg) {
            if (msg instanceof Array) {
                if (msg.length > 0) {
                    for (key in msg) {
                        $('#messages').append($('<li class="printer_status">').text(key + " : " + msg[key]));
                    });
                }
            } else {
                $('#messages').append($('<li class="printer_status">').text(msg));
            }
        });
        channel.bind('command_sent', function(msg) {
            if (msg instanceof Array) {
                if (msg.length > 0) {
                    for (key in msg) {
                        $('#messages').append($('<li class="command_sent">').text(key + " : " + msg[key]));
                    });
                }
            } else {
                $('#messages').append($('<li class="command_sent">').text(msg));
            }
        });
        // channel.unbind('');

        $('form').submit(function(e) {
            e.preventDefault();

            msg = $('#m').val();
            dispatcher.trigger('user_to_lg.user_command', msg);
            $('#messages').append($('<li class="user_command">').text(msg));
            $('#m').val('');
            
            return false;
        });
    });
</script>
<ul id="messages" style="margin-top: 100px;">
</ul>
<form action="">
    <input id="m"><input type="submit" value="SEND">
</form>
